@import "https://fonts.googleapis.com/css2?family=Alegreya:wght@500;700;800&family=VT323&display=swap";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "VT323", monospace;
	color: #fff;
	background-color: #333333;
}

input {
	text-align: center;
	outline: none;
	font-family: "VT323", monospace;
}

/* Custom scrollbar*/
::-webkit-scrollbar {
	width: 4px;
}
::-webkit-scrollbar-track {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: #787878;
}
::-webkit-scrollbar-thumb:hover {
	background: #fff;
}
